<footer>
        {{!-- 
        when you use something, inside currely braces, handlebars first look for
        helper with that name, if there is no helper, then it will look for piece
        of data with  'getCurrentYear' name
         --}}
        <p>Copyright {{getCurrentYear}}</p>
</footer>